.navbar {
  display: flex;
  justify-content: space-between;
  max-height: 50px;
}

.logo-container {
  display: flex;
}
.logo-container > span {
  display: none;
}

.links-container {
  display: flex;
  gap: 10%;
  align-items: right;
}

.logo {
  height: 40px;
  width: 40px;
  border-radius: 30;
  vertical-align: middle;
}

.information {
  display: inline-flex;
  justify-content: space-between;
  width: 17rem;
  white-space: nowrap;
}
.authentication {
  display: inline-flex;
  justify-content: space-between;
  width: 7rem;
  margin-left: auto;
  white-space: nowrap;
}
